<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'blog/partials/_head.html' %}
  {% block additional_head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/dracula.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/python/python.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/javascript/javascript.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/css/css.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/mode/xml/xml.min.js"></script>
{% endblock additional_head %}

</head>
<body>
  <div class="blog-wrapper">
    {% if site_setup.show_header %}
      {% include 'blog/partials/_header.html' %}
    {% endif %}

    {% block content %}{% endblock content %}
    
    {% if site_setup.show_pagination %}
      {% include 'blog/partials/_pagination.html' %}
    {% endif %}

    {% if site_setup.show_footer %}
      {% include 'blog/partials/_footer.html' %}
    {% endif %}
  </div>
</body>
</html>